*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .homepic{
     width: 100%;
     background-size: cover;
     height: 100vh;
     overflow: auto;
     opacity: 0.5%;
 }
 
 .text{
    background-color: black;
     text-align: center;
     padding: 18%;
     background-repeat: no-repeat;
     background-size: cover;                                                                                       
     padding-bottom: 400px;
     /* opacity: 0.5; */
   }
   .text1{
     color: white;
     font-size: 5rem;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .text2{
     color:white;
     font-size: 2rem;
     font-family: Fasthand;
   }